body{
    padding: 0% 5%;
    /* margin: 0% 5%; */
    background-color: black
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
footer p{
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

.titulo{
    margin: 0 !important;
    padding: 0 !important;
    background-color: black;
    color: white;
}

.titulo-text{
    display: grid;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.cau{
    font-family: 'Times New Roman', Times, serif;
    font-size: 90%;
}

#carouselExampleCaptions2{
    background-color: white;
}

.titulo-text h1{
    font-size: 5rem;
    font-weight: 300;
}

.titulo-text p{
    font-weight: 100;
}


.logo{
    height: 500px;
    width: 100%;
    border: 0;
}

.projeto-AR, .resNascimento, .VLTecidos, .cozinha2023{
    background-color: black;
    color: white;
}



.carousel-item{
    border-radius: 50%;
}

.carousel-img{
    height: 550px;
    border-radius: 1%;
}

.texto-preto{
    color: black;
}

.carousel-control-next-icon {
    filter: invert(62%) sepia(90%) saturate(1082%) hue-rotate(347deg) brightness(95%) contrast(100%);
}

.carousel-control-prev-icon{
    filter: invert(62%) sepia(90%) saturate(1082%) hue-rotate(347deg) brightness(95%) contrast(100%);

}

.conteudo-projeto-texto{
    align-self: center;
}

.conteudo-projeto-texto2{
    align-self: center;
    color: white;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}