
footer p{
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

.logo{
    height: 500px;
    width: 100%;
    border: 0;
}

.projeto-AR{
    background-color: black;
}

.carousel-item{
    border-radius: 50%;
}

.carousel-img{
    height: 550px;
    border-radius: 1%;
}

.texto-preto{
    color: black;
}

.conteudo-projeto-texto{
    align-self: center;
}

.conteudo-projeto-texto2{
    align-self: center;
    color: white;
}